<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link
      rel="stylesheet"
      href="../aset/libraries/bootstrap/css/bootstrap.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Poppins:wght@400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../aset/style/detail.css" />
  </head>
  <body
    style="
      background-image: url(../aset/image/b.png);
      background-size: cover;
      position: relative;
      z-index: 1;
      margin-bottom: 300px;
    "
  >
    <!-- navbar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-tansparent">
        <div class="container">
          <a class="navbar-brand" href="../index.html">
            <p>MOVIETIME</p>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="detail.page.html">Movie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Seat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- akhir navbar -->

    <!-- film card -->
    <div class="film-card">
      <div class="container">
        <div class="row">
          <div class="col-12 title">
            <p>NEW RELEASE</p>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3 img-card">
              <img src="../aset/image/game_of_throne.png" class="img-card" />
            </div>
            <div class="col-5 text-card">
              <p>
                Movie : Game of Thrones <br />
                Genre : action,thriller <br />
                Duration : 2hr 2min <br />
                Starting Time : 11:00 A.M <br />
                Ending Time : 1:02 P.M <br />
                Address : Pekanbaru,Marpoyan
              </p>
            </div>
            <div class="col-4 text-price">
              <p>10$</p>
              <a href="bookingpage1.html">
                <button type="submit" class="btsub">Buy Ticket Now</button></a
              >
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3 img-card">
              <img src="../aset/image/jurasic_word.png" class="img-card" />
            </div>
            <div class="col-5 text-card">
              <p>
                Movie : Jurasic World <br />
                Genre : action,thriller <br />
                Duration : 2hr 2min <br />
                Starting Time : 09:00 A.M <br />
                Ending Time : 11:02 A.M <br />
                Address : Pekanbaru,Marpoyan <br />
              </p>
            </div>
            <div class="col-4 text-price">
              <p>10$</p>
              <a href="bookingpage1.html">
                <button type="submit" class="btsub">Buy Ticket Now</button></a
              >
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3 img-card">
              <img src="../aset/image/wednesday.png" class="img-card" />
            </div>
            <div class="col-5 text-card">
              <p>
                Movie : Wednesday <br />
                Genre : action,thriller <br />
                Duration : 2hr 2min <br />
                Starting Time : 2:00 A.M <br />
                Ending Time : 4:02 P.M <br />
                Address : Pekanbaru,Marpoyan <br />
              </p>
            </div>
            <div class="col-4 text-price">
              <p>10$</p>
              <a href="bookingpage1.html">
                <button type="submit" class="btsub">Buy Ticket Now</button></a
              >
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3 img-card">
              <img src="../aset/image/thor.png" class="img-card" />
            </div>
            <div class="col-5 text-card">
              <p>
                Movie : Thor <br />
                Genre : action,thriller <br />
                Duration : 2hr 2min <br />
                Starting Time : 10:00 A.M <br />
                Ending Time : 12:02 P.M <br />
                Address : Pekanbaru,Marpoyan br
              </p>
            </div>
            <div class="col-4 text-price">
              <p>10$</p>
              <a href="bookingpage1.html">
                <button type="submit" class="btsub">Buy Ticket Now</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- akhir film card -->
  </body>
</html>
